#top{
    border-bottom-style: solid;
    border-bottom-width: thin;
}
h1{
    border-bottom-style: solid;
    border-bottom-width: thin;
}
article{
    border-bottom-style: solid;
    border-bottom-width: thin;
}
footer{
    border-bottom-style: solid;
    border-bottom-width: thin;
}
body{
    border-bottom-style: solid;
    border-bottom-width: thin;
}